	

html, body {
	height: 100%;
}
body {
	background:url("../images/bj.png") center no-repeat;
	background-size:cover;
	overflow:hidden;

}
header{
	width:800px;
	height:80px;
	box-shadow:0 0 5px #fff;
	margin:140px auto 50px;
	position:relative;
}
header .img{
	height:292px;
	width:207px;
	top:-100px;
	left:-70px;
	background:url(../images/contact.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
}
header h3{
	font:40px/80px "华文隶书";
	color:#fff;
	text-shadow:0 0 10px #fff;
	text-align:center;
}


footer{
	position:fixed;
	right:0;bottom:0;
		z-index:1;
	
}
footer a{
	color:#d5d5d5;
	font:12px/24px "";
	display:block;
	float:left;
	padding:10px;

}


footer a:hover{
	color: #ffffff;
	text-shadow:0 0 10px #fff;
}

.xss{
	position:fixed;
	font:700 12px/24px "";
	color:#f99;
	text-shadow:0 0 5px #fff;
	bottom:0;left:0;
}

	p{width:500px;height:24px;margin:20px auto 0;}
	span{font:700 14px/24px ""; color:#fff;margin-right:20px;}
	a{color:#fff;font:700 14px/24px "";}
	a:hover{text-shadow:0 0 5px #fff;}