 body {
	background:url("../images/bj.png") no-repeat center;
	background-size:cover;
	margin: 0;
	background-color:#C02C38;
	font-family: "Microsoft Yahei",Helvetica, sans-serif;
	overflow: hidden;
	}
		*{margin:0px; padding:0px;}
		body{perspective:3000px;  overflow:hidden; font:14px/50px "微软雅黑"; /*字体大小为14px/字体行高位50px*/ color:#fff;}
		#face{width:690px; height:465px; background:rgba(241,147,156,0.5) url(../images/bj2.png) no-repeat left bottom;background-size:50% 70%;margin:60px auto 0px auto; position:relative;}
		
		#content{width:690px; height:450px; padding:15px 0px; }
		
		#content dl{height:50px; line-height:50px;/*文字行高*/ margin:10px 0px;}
		#content dl dt{width:180px; text-align:right; /*文字靠右*/ float:left;color:#fff;text-shadow:0 0 10px #BF1E40;font-weight:700;}
		#content dl dd{width:440px; float:right;margin-right:50px;/*浮动 并排展示*/}
		input{width:320px; height:24px;padding:5px; border:1px solid rgb(241,147,156);}
		input[type="radio"]{width:30px;height:20px;font:15px/50px "";margin:0px 20px;}
		input[type="submit"]{width:320px; height:44px; border:4px solid #fff; background:#ffcccc; color:#fff; font-size:18px; font-weight:700; padding:5px; transition:all 500ms;}
		input[type="submit"]:hover{background:rgb(241,147,156); color:#fff;}
		input:focus{/*获取焦点*/ /*input 外层*/
		}
		nav{top:-65px;}
		nav .lp-nav{top:-23px;}
		.xss{
	position:fixed;
	font:700 12px/24px "";
	color:#f99;
	text-shadow:0 0 5px #fff;
	bottom:0;left:0;
}