html, body {
		height: 100%;
		overflow: auto;
	}

	.margin{width:1182px;margin:0 auto;}
	#loginBar{
		height:30px;
		font:12px/30px "";
		color:#fff;
		background:#BF1E40;
	}
	#loginBar span{
		margin-left :40px;
	}
	#loginBar .nav a{
		color:#fff;
		font:12px/30px "";

		padding:0 10px;

	}


	#loginBar .nav a:hover{
		color: #ffffff;
		text-shadow:0 0 10px #fff;
	}

	.xss{
		position:fixed;
		font:700 12px/24px "";
		color:#f99;
		text-shadow:0 0 5px #fff;
		bottom:0;left:0;
	}
	header{
		width:100%;
		height:100px;
		box-shadow:0 0 5px #fff;

		background-size:cover;
	}
	header .logo{
		margin:5px 0 0 30px;
		display:block;
		width:300px;
		height:100px;
	}
	header .logo img{
		width:90px;
		height:80px;
	}
	header .logo span{
		font:800 26px/80px "华文隶书";
		color:#000;
	}
	main{margin-top:10px;}
	main h3{width:200px;margin:30px 0;margin-left:30px;color:#BF1E40;font:800 26px/80px "华文隶书";}
	main .contentA{margin-left:60px;}

	main a {color:#222;font:700 14px/28px "";margin:10px;}
	main a:hover{color:#BF1E40;}

	footer{height:30px;background:#BF1E40;margin-top: 50px; }