* {
	padding:0;
	margin:0;
}
body {

	
}
ul,li,ol {
	list-style-type:none;
}
a {
	text-decoration:none;
}
img {
	width:250px;
	height:400px;
	display:block;
	/*去除多余边框*/
}
h3{
	font-size: 40px;
	color: #fff;
	margin: 50px 50px;
}
#content {
    width: 1124px;
	margin:50px auto 0;
	height: 500px;
}
#content ul {
	position:relative;
	
}
#content .bar li {
	width:250px;
	height:400px;
	float:left;
	margin-right:30px;
}
#content ul li a {
	width:250px;
	height:400px;
	display:block;
	position:relative;
	/*远近度*/
				perspective:400px;
	transition:all 1s;
}
#content ul li a>div {
	transition:all 1s;
	/*背面不可视*/
				backface-visibility:hidden;
}
#content ul li a:hover .forward {
	transform:rotateY(-180deg);
}
.tips {
	width:250px;
	height:400px;
	color:#fff;
	background:linear-gradient(#333,#666);
	transform:rotateY(180deg);
	transition:all 1s;
	position:absolute;
	top:0px;
	left:0px;
}
.tips p {
	text-indent:2em;
	line-height:1.5em;
	padding:20px;
	font-size:18px;
	font-weight:400px;
}
#content ul li a:hover .tips {
	transform:none;
	box-shadow:0 0 10px 5px pink;
	border-radius:10px;
}
