*{padding:0px;margin:0px;font-family:"微软雅黑";font-size:100%; font-style:normal}
dd,dl,dt,em,i,p,textarea,a,div{padding:0px;margin:0px;}
a{text-decoration:none;}
img{border:0px;}
ul,li{padding:0px;margin:0px;list-style:none;}
.fl{ float:left}
.fr{ float:right}
body{margin:0px; padding:0px; color:#000; background:#fff; }
a{
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
.none{ display:none}


	
	
.fensug{ width:168px; overflow:hidden; background:#fff; border:9px #5576ac solid; margin:150px auto 25px; padding:5px;-webkit-border-radius:25em;
-moz-border-radius:25em;
border-radius:25em; overflow:hidden; position:relative}
.fensug .wavenum{width:168px;height:168px;overflow:hidden;-webkit-border-radius:50%;border-radius:50%;text-align:center;display:table-cell;vertical-align:middle; position:absolute; left:5px; top:5px; z-index:5;  display:flex; align-items:center; justify-content:center;flex-direction:column; }
.fensug .wavenum b{ color:#fff; font-size:43px; text-align:center; display:block; position:relative; z-index:2; line-height:45px;}
.fensug .wavenum tt{ color:#fff; font-size:20px; text-align:center; display:block;position:relative; z-index:2; font-weight:bold; width:140px; border-top:2px #fff solid; margin:3px auto; line-height:35px;}



.waven{ width:168px; height:168px; webkit-border-radius:25em;
-moz-border-radius:25em;
border-radius:25em;background:#5576ac; overflow:hidden; position:relative}

.wave {width:408px;height: 80%; position:absolute; left:0px; bottom:0; background: url(../images/wave.png) no-repeat;animation: move_wave 1s linear infinite; -webkit-animation: move_wave 1s linear infinite;}

p{width:800px;margin:0 auto;font:25px/35px "华文新魏";color:#505050;}
b{font-family: "华文新魏";font-size:30px;}
	
@-webkit-keyframes move_wave {
    0% {
        -webkit-transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-25%) 
    }
    100% {
        -webkit-transform: translateX(-50%) 
    }
}
	
@keyframes move_wave {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-25%) 
    }
    100% {
        transform: translateX(-50%) 
    }
}
		
	
	



